

{% macro timeline(data) %}



  {% set months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'] %}
  {% set numYears = data.endYear - data.startYear +1 %}
  {% set yearsArray = Array(numYears) %}
  {% set timelines = data.timelines %}

<table class="timeline copy">
  <thead>
    <tr>
      <td class="content">Date</td>
      {% for a, b in timelines %}

      <td class="content width-1-{{ timelines.length }}" contenteditable="true" id="timeline-{{b.id}}">
      </td>
      {% endfor %} 
    </tr>
  </thead>
</table>

<table class="timeline">
  <thead>
    <tr>
      <td class="content" colspan="2">Date</td>
      {% for a, b in timelines %}

      <td class="content width-1-{{ timelines.length }}" contenteditable="true" id="timeline-{{b.id}}">
      </td>
      {% endfor %} 
    </tr>
  </thead>

  <tbody>

  {% for x, y in yearsArray %}

  {% for month in months %}
    {% if loop.first %}
    <tr class="new-year">
      <td class="year" rowspan="12" id="date-{{ year }}">{{ x + data.startYear }}</td>
      <td class="month" id="date-{{ x + data.startYear }}-{{ loop.key + 1 }}">{{ month }}</td>
      {% for a, b in timelines %}
      <td class="content" contenteditable="true" id="id-{{b.id}}-{{ x + data.startYear }}-{{ month }}"data-date="{{ month }} {{ x + data.startYear }}" data-timeline="timeline-{{b.id}}"></td>
      {% endfor %} 
    </tr>
    {% else %}
    <tr>
      <td class="month" id="date-{{ x + data.startYear }}-{{ loop.key + 1 }}">{{ month }}</td>
      {% for a, b in timelines %}





      <td class="content       {% if b.dob|date('Y') > x + data.startYear %}
        outside-timeline
      {% endif %}" contenteditable="true" id="id-{{b.id}}-{{ x + data.startYear }}-{{ month }}" data-date="{{ month }} {{ x + data.startYear }}" data-timeline="timeline-{{b.id}}"></td>
      {% endfor %} 
    </tr>
    {% endif %}
  {% endfor %} 
  {% endfor %} 
  </tbody>
</table>


{% endmacro %}