// Import GOV.UK elements, this will import the frontend toolkit and some base styles.
// Take a look at elements.scss to see which files are imported.
@import 'elements';

// Import modules specific to this service

@import "modules/shame";
@import "modules/for-elements";
@import "modules/form-navigation";
@import "modules/other-specify";
@import "modules/radios-and-checkboxes";
@import "modules/auto-suggest";
@import "modules/select-boxes";


body{
	margin: 0;
	font-family: sans-serif;
	padding-bottom: 500px;
}

#global-header{
    position: fixed;
	padding: $gutter;
	padding-left: 34px;
    background-color: #fff;
    width: 100%;
    border-bottom: 2px solid $border-colour;
	a{
		text-decoration: none;
		font-weight: bold;
		color: $text-colour;
    	font-size: 16px;
	}
}

#global-header a:hover{
	text-decoration: underline;
}

main {
	padding-top: 79px;
}

// TIMELINE

.timeline{
	border-top: 1px solid $border-colour;
	border-bottom: 2px solid $border-colour;
    border-right: 1px solid $border-colour;
    width: auto;
	td{
		padding: 10px;
	}

	thead{
		position: fixed;
		width:	100%;
		td{
			font-weight: bold;
			font-size: 16px;
			text-align: center;
			background-color: white;
		}
	}

	tbody{
		display: block;
		margin-top: 40px;
	}

	td.date{
		width: 151px;
	}

	.new-year td{
		border-top: 2px solid $border-colour;
	}

	.year{
		font-weight: bold;
		font-size: 24px;
		//padding: 0 15px 0 15px;
		width: 100px;
		text-align: center;
	}
	.month{
		//padding-right: 5px;
		width: 31px;
	}
	.content{
		padding-left: 10px;
		border-left: 1px solid $border-colour;
		width: 200px;
	}

	.content:read-write:focus {
		outline: none;
     	//background: #ffffcc;
	}

}

// Percentage width classes, for up to 10 timelines

@for $i from 1 through 10{
  .width-1-#{$i}{
    //width: percentage(1/$i);
  }
}






