{% extends 'templates/layout.html' %}
{% import 'includes/macros.html' as macro %}

{% block pageTitle %}Remember&hellip; {% endblock %}

{% block content %}

<main id="content" role="main">

<div class="grid-row">
   <div class="column-half">
   {{ macro.timeline(data) }}
    </div>
    <div class="column-half">

        <div class="detailed-month-view">
            <h2 class="heading-large"><span class="heading-timeline"></span>, <span class="heading-date"></span></h2>
            <div class="detailed-text" contenteditable="true">
            </div>
        </div>
   </div>
</div>




</main>

{% endblock %}